{{define "base"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="/ui/node_modules/bootstrap/dist/css/bootstrap.min.css">
    	<link rel="stylesheet" href="/ui/node_modules/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/ui/static/css/style.css">
		<title>{{template "title" .}}</title>
	</head>

	<body>
		
		<header class="jumbotron">
			{{block "navbar" .}}
				<header id="header">
					<div class="container d-flex align-items-center justify-content-between">
						<div class="logo">
							<h1><a href="/">watchess<span>.org</span></a></h1>
						</div>
						<nav id="navbar" class="navbar">
							<ul>
								<li><a class="adminlogin" href="">Admin Login</a></li>
							</ul>
						</nav>
					</div>
				</header>
			{{end}}
		</header>
		{{template "body" .}}
		{{block "footer" .}}
		{{end}}
	</body>
</html>
{{end}}
