{{define "base"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<link rel="stylesheet" href="/ui/node_modules/bootstrap/dist/css/bootstrap.min.css">
    	<link rel="stylesheet" href="/ui/node_modules/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/ui/static/css/style.css">
		<title>{{template "title" .}}</title>
	</head>

	<body>
		
		<header class="jumbotron">
			<div class="container">
				<div class="text-center mt-5 mb-5">
					<h1>watchess.org</h1>
					<p class="lead">Never pay to watch your favorite player lose</p>
				</div>
			</div>
		</header>
		{{template "body" .}}
		{{block "footer" .}}
		{{end}}
	</body>
</html>
{{end}}
