{{template "base" .}} 
 
{{define "title"}}watchess.org{{end}} 

{{define "body"}} 
	{{if .Tournaments}}
		{{with .Tournaments.Active}}
			<div class="container px-4 px-lg-5 mt-5">
				<div class="text-center">
					<h2 class="tournaments-title text-uppercase mb-3 mt-5">Active</h2>
				</div>
                <div class="row row-cols-1 row-cols-lg-2 justify-content-center">
					{{range .}}
						{{template "tournamentCard" .}}
					{{end}}
				</div>
			</div>
		{{end}}
		{{with .Tournaments.Upcoming}}
			<div class="container px-4 px-lg-5 mt-5">
				<div class="text-center">
					<h2 class="tournaments-title text-uppercase mb-3 mt-5">Upcoming</h2>
				</div>
                <div class="row row-cols-2 justify-content-center">
					{{range .}}
						{{template "tournamentCard" .}}
					{{end}}
				</div>
			</div>
		{{end}}
		{{with .Tournaments.Finished}}
			<div class="container px-4 px-lg-5 mt-5">
				<div class="text-center">
					<h2 class="tournaments-title text-uppercase mb-3 mt-5">Finished</h2>
				</div>
                <div class="row row-cols-2 justify-content-center">
					{{range .}}
						{{template "tournamentCard" .}}
					{{end}}
				</div>
			</div>
		{{end}}
	{{else}}
		<div class="container">
			<div class="text-center">
				<h4 class="text-uppercase mb-3 mt-5">Nothing to show yet</h4>
			</div class="text-center">
		</div>
	{{end}}
{{end}}
