{{define "tournamentCard"}}
<div class="col mb-5">
	<div class="card">
		<div class="card-body p-4">
			<div class="text-center">
				<!-- Product name-->
				<h5 class="fw-bolder">{{.Name}}</h5>
				{{.ShortDescription}}
			</div>
		</div>
		<!-- Product actions-->
		<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
			<div class="text-center"><a class="btn mt-auto tournament-btn" href="">Visit Tournament</a></div>
		</div>
	</div>
</div>
{{end}}
