{{template "base" .}}

{{define "title"}}{{.Tournament.Name}} - watchess.org{{end}}

{{define "body"}}
<div class="container">
	<div class="row tournament-title">
		<h4 class="mb-0">{{.Tournament.Name}}</h4>
	</div>
	<div id="gameBoard"></div>
	<div class="row mt-3 mb-2">
		<ul class="nav nav-pills justify-content-center tournament-content-tabs" id="pills-tab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="pills-games-tab" data-bs-toggle="pill" data-bs-target="#pills-games" type="button" role="tab" aria-controls="pills-games" aria-selected="true">Games</button>
			</li>
			{{if .Tournament.HasStandings}}
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-standings-tab" data-bs-toggle="pill" data-bs-target="#pills-standings" type="button" role="tab" aria-controls="pills-standings" aria-selected="false">Standings</button>
			</li>
			{{end}}
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-description-tab" data-bs-toggle="pill" data-bs-target="#pills-description" type="button" role="tab" aria-controls="pills-description" aria-selected="false">Description</button>
			</li>
		</ul>
	</div>
	<div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade show active" id="pills-games" role="tabpanel" aria-labelledby="pills-games-tab">
			<div class="row tournament-content-body" id="matchList">
			</div>
			<div class="row tournament-control mt-0">
				<div class="col-4 col-md-2 ms-auto">
					<select name="round" id="round-select">
						{{range .Rounds}}
						<option value="{{.ID}}">{{.Name}}</option>
						{{end}}
					</select>
				</div>
			</div>
		</div>
		{{if .Tournament.HasStandings}}
		<div class="tab-pane fade" id="pills-standings" role="tabpanel" aria-labelledby="pills-standings-tab">
			<div class="row tournament-content-body" id="tournamentStandings">
			</div>
		</div>
		{{end}}
		<div class="tab-pane fade" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
			<div class="row tournament-content-body" id="tournamentDescription">
				{{.Tournament.LongDescription}}
			</div>
		</div>
	</div>
</div>
<script src="/ui/static/js/tournament/page.js" type="text/javascript"></script>
{{end}}
