{{template "base" .}}

{{define "title"}}{{.Tournament.Name}} - watchess.org{{end}}

{{define "body"}}
<div class="container">
	<div class="row tournament-title">
		<h4 class="mb-0">{{.Tournament.Name}}</h4>
	</div>
	<div id="gameBoard"></div>
	<div class="row mt-3 mb-2">
		<ul class="nav nav-pills justify-content-center tournament-content-tabs" id="pills-tab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="pills-games-tab" data-bs-toggle="pill" data-bs-target="#pills-games" type="button" role="tab" aria-controls="pills-games" aria-selected="true">Games</button>
			</li>
			{{if .Tournament.HasStandings}}
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-standings-tab" data-bs-toggle="pill" data-bs-target="#pills-standings" type="button" role="tab" aria-controls="pills-standings" aria-selected="false">Standings</button>
			</li>
			{{end}}
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-description-tab" data-bs-toggle="pill" data-bs-target="#pills-description" type="button" role="tab" aria-controls="pills-description" aria-selected="false">Description</button>
			</li>
		</ul>
	</div>
	<div class="row tournament-content-body">
			<div class="col-12 overflow-auto">
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-games" role="tabpanel" aria-labelledby="pills-games-tab">
						<a data-bs-toggle="collapse" href="#match1">
							<div class="row match-card lose">
								<div class="col-4 text-start">
									<div class="text-nowrap overflow-hidden">
									Magnus Carlsen
									</div>
								</div>
								<div class="col-4 text-center">
									1 - 2
								</div>
								<div class="col-4 text-end">
									<div class="text-nowrap overflow-hidden">
									Levon Aronian
									</div>
								</div>
							</div>
						</a>
						<div class="row match-games collapse" id="match1">
							<a>
								<div class="row game-card white">
									<div class="col-4 text-start">
										<div class="text-nowrap overflow-hidden">
										Magnus Carlsen
										</div>
									</div>
									<div class="col-4 text-center">
										0 - 1
									</div>
									<div class="col-4 text-end">
										<div class="text-nowrap overflow-hidden">
										Levon Aronian
										</div>
									</div>
								</div>
							</a>
							<a>
								<div class="row game-card black">
									<div class="col-4 text-start">
										<div class="text-nowrap overflow-hidden">
										Magnus Carlsen
										</div>
									</div>
									<div class="col-4 text-center">
										 - 
									</div>
									<div class="col-4 text-end">
										<div class="text-nowrap overflow-hidden">
										Levon Aronian
										</div>
									</div>
								</div>
							</a>
							<a>
								<div class="row game-card white">
									<div class="col-4 text-start">
										<div class="text-nowrap overflow-hidden">
										Magnus Carlsen
										</div>
									</div>
									<div class="col-4 text-center">
										 - 
									</div>
									<div class="col-4 text-end">
										<div class="text-nowrap overflow-hidden">
										Levon Aronian
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					{{if .Tournament.HasStandings}}
					<div class="tab-pane fade" id="pills-standings" role="tabpanel" aria-labelledby="pills-standings-tab"></div>
					{{end}}
					<div class="tab-pane fade" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
						{{.Tournament.LongDescription}}
					</div>
				</div>
			</div>
	</div>
</div>
{{end}}
