@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

body {
	background: #131313;
	color: #fff;
}

#header {
  background: #131313;
}

#logo h1 {
  font-size: 24px !important;
  margin: 5px;
  padding: 10px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#logo h1 a, #logo h1 a:hover {
  color: #fff !important;
  text-decoration: none;
}

#logo h1 a span, #logo h1 a:hover span {
  color: #04A290 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar li {
	margin: 5px;
}

.navbar li a {
	color: #fff;
}

.navbar li a:hover, .navbar li a:focus {
	color: #04A290;
}

.navbar .adminlogin, .navbar .adminlogin:focus {
  background: #131313;
  color: #fff;
  padding: 4px 25px 6px 25px !important;
  border-radius: 50px;
  border: 2px solid #04A290;
}

.navbar .adminlogin:hover, .navbar .adminlogin:focus:hover {
  background: #04A290;
  color: #fff;
}

.navbar .dropdown-menu {
	background-color: #2E2E2E;
}

.navbar .dropdown-menu .dropdown-item {
	color: #fff;
}

.navbar .dropdown-menu .dropdown-item:hover, .navbar .dropdown-menu .dropdown-item:focus {
	color: #fff;
  	background-color: #04A290;
}

.card {
	background-color: #2E2E2E;
	color: #fff;
	border-radius: 5px;
	border: 0px;
}

.tournament-card {
	min-height: 340px;
}

.tournaments-class {
	color: #fff;
}

.tournament-btn {
	color: #fff;
	border: 2px solid #04A290;
}

.tournament-btn:hover {
  	color: #fff;
	background-color: #04A290;
}

div.error {
    color: #FFFFFF;
    background-color: #C0392B;
    padding: 18px;
    margin-bottom: 36px;
    font-weight: bold;
    text-align: center;
}

.error {
    color: #C0392B;
    font-weight: bold;
    display: block;
}

.error + textarea, .error + input {
    border-color: #C0392B !important;
    border-width: 2px !important;
}

a {
  color: #04A290;
  text-decoration: none;
}

a:hover {
  color: #fdd067;
  text-decoration: none;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=number]  {
	background-color: #131313;
	color: #fff;
  	border: none;
  	border-bottom: 2px solid #aaa;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=number]:focus {
	background-color: #131313;
	color: #04A290;
  	border: none;
  	border-bottom: 2px solid #04A290;
   	-webkit-box-shadow: none;
  	box-shadow: none;
}

#searchbox {
	text-align: center;
	font-size: 13px !important;
}

#searchbox:focus {
  	border: none !important;
  	border-bottom: 2px solid #04A290 !important;
	outline: none !important;
}

textarea {
	background-color: #131313 !important;
	color: #fff !important;
  	border: none !important;
  	border-bottom: 2px solid #ddd !important;
}

textarea:focus {
	background-color: #131313 !important;
	color: #04A290 !important;
  	border: none !important;
  	border-bottom: 2px solid #04A290 !important;
   	-webkit-box-shadow: none !important;
  	box-shadow: none !important;
}

input[type="checkbox"] {
   	-webkit-box-shadow: none !important;
  	box-shadow: none !important;
}

input[type="checkbox"]:focus {
  	border: 2px solid #04A290 !important;
}

input[type="checkbox"]:checked {
	background-color: #04A290 !important;
   	-webkit-box-shadow: none !important;
  	box-shadow: none !important;
}

input[type="date"] {
	text-align: center !important;
    color: #fff;
    border: none;
  	border-bottom: 2px solid #fff !important;
    background: #131313;
}

input[type="date"]:focus {
    color: #04A290;
    border: none;
  	border-bottom: 2px solid #04A290 !important;
    background: #131313;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.form-btn, .form-btn:focus {
	background: #131313 !important;
	color: #fff !important;
	border-radius: 5px !important;
	border: 2px solid #04A290 !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.form-btn:hover {
  background: #04A290 !important;
  color: #fff !important;
  border-radius: 5px !important;
  border: 2px solid #04A290 !important;
}

#advanced-toggler {
	background-color: #2E2E2E;
	color: #fff;
	width: 100%;
}

.nav-link {
	color: #04A290;
}

.nav-link:hover {
	color: #017D6F;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #04A290;
}

.match-card {
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	/*border-bottom: 1px solid #777;*/
	border-left: 5px solid #00000000;
	border-right: 5px solid #00000000;
}

.match-card:hover {
	color: #fff;
	background-color: #04A290;
	cursor: pointer;
}

.tournament-content-body {
	max-height: 270px;
	background-color: #2E2E2E;
	padding: 15px 10px 15px 10px;
	border-radius: 5px 5px 5px 5px;
	overflow-x: auto;
	overflow-y: auto;
}

#matchList {
	padding: 15px 10px 5px 10px;
	border-radius: 5px 5px 0px 0px;
}

.match-card.win {
	border-left: 5px solid #5DBB63;
	border-right: 5px solid #F9919A;
}

.match-card.loss {
	border-left: 5px solid #F9919A;
	border-right: 5px solid #5DBB63;
}

.match-card.draw {
	border-left: 5px solid #989898;
	border-right: 5px solid #989898;
}

.tournament-content-tabs {
	padding-left: 0px;
	padding-right: 0px;
}

.tournament-title {
	background-color: #2E2E2E;
	padding: 15px 10px 15px 10px;
	border-radius: 5px;
}

.match-games {
	background-color: #212121;
	width: calc(100% - 10px);
	padding: 3px;
	border-radius: 5px;
	margin: 5px;
}

.game-card {
	border-radius: 5px;
}
.game-card.white {
	border-left: 5px solid #fff;
	border-right: 5px solid #000;
}

.game-card.black {
	border-right: 5px solid #fff;
	border-left: 5px solid #000;
}

.game-card:hover {
	color: #fff;
	background-color: #04A290;
	cursor: pointer;
}

#round-select {
	appearance: none;
	text-align: center;
	width: 100%;
	padding: 0 0 0 0;
	margin: 0px;
	background-color: #131313;
	color: #04A290;
  	border: 2px solid #04A290;

  	box-shadow: none;
	/*border-radius: 5px;*/
}

#round-select option {
	background-color: #131313;
}

.tournament-control {
	border-radius: 0px 0px 5px 5px;
	border: 3px solid #2E2E2E;
	padding: 7px;
	background-color: #131313;
}
